*{
    background-color: bisque;
    margin: auto;
    padding: 0;
}
h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#divibox{
    border: 2px solid black;
    height: 80px;
    width: 160px;
    background-color: antiquewhite;
    color: salmon;
}